// Here you can add other styles
.button {
    display: block;
    width: 50px;
    height: 22px;
    background: #4E9CAF;
    padding: -1px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    }
    .card{
        margin-top: 1.5rem!important;
    }
    a:hover {
        background-color: yellow;
    }
    .image-hover img:hover{
      transform: scale(4);
      transition-duration: 1s;
    }
    
    div.stars {
    
        width: 270px;
    
        display: inline-block;
  
      }
    
      input.star { display: none; }
  
      label.star {
    
        float: right;
      
        padding: 10px;
    
        font-size: 36px;
      
        color: #444;
      
        transition: all .2s;
    
      }
    
       
  
      input.star:checked ~ label.star:before {
    
        content: '\f005';
      
        color: #FD4;
      
        transition: all .25s;
    
      }
   
      input.star-5:checked ~ label.star:before {
     
        color: #FE7;
     
        text-shadow: 0 0 20px #952;
     
      }
    
       
   
      input.star-1:checked ~ label.star:before { color: #F62; }
     
       
    
      label.star:hover { transform: rotate(-15deg) scale(1.3); }
     
      label.star:before {
    
        content: '\f006';
 
        font-family: FontAwesome;
  
      }
      
    

  
    .terms .form-control{
        display: inline!important;
    }


    .terms input{

        height: 30px!important;
    }
    

  .line {
        width:260px!important;;
        border:0!important;;
        border-bottom: 2px dotted!important;;
    
    }   
    .terms .line{
        width: 150px!important;
    }
    .overseas:hover {
        background-color: rgb(78, 156, 175)!important;
    }
    .overseas{
        background-color: rgb(78, 156, 175)!important;
    }
    .terms table label{
        margin-bottom:1px!important;
    }





    .frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
    #pro-list{    float: left;
        list-style: none;
        margin-top: 0px;
        padding: 0;
        width: 91.8%;
        z-index: 5;
        position: absolute;
        background: white!important;}
    #pro-list li{    padding: 5px;
        background: white;
        border: #dedbdb 1px solid;}
    #pro-list li:hover {    
        background: #20a8d8!important;
        color: white;
    }
 
    .list-color .list-group-item{
        background-color: #9c99ac !important;
        font-family: arial!important;
        font-size: 11px !important;
    }

    .list-color
    {
        box-shadow: 6px 4px 3px silver;
    }







    .cards{
        background: white;
	    padding: 5px;
	box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}
.single {
    padding: 15px;
    border: 1px solid #f0f0f0;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #0cc3eb;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li{
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.single li:hover {
  color: #0cc3eb;
}

.single li:last-child {
    border-bottom: 0;
}
.control-label{
    font-size: 14px;
    font-weight: 500;
}

.btn-danger {
    color: #fff!important;
}
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.table thead th {
  width: 17%!important;
}
.btn-info {
    color: #fff!important;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-danger {
    background-color: #d9534f;
}
.label-info {
    background-color: #5bc0de;
}
.input-boxs input{
    width: 120px;
    text-align: center;
}
.poformatting input{
    width: 75px!important;
    text-align: center;
}