// Override the Bootstrap defaults without modifying key, versioned files.
.login .form-control{
    color: #000!important;
    outline: none!important;
    font-size: 16px!important;
    letter-spacing: 0.5px!important;
    padding: 15px 15px!important;
    box-sizing: border-box!important;
    border: none!important;
    border-radius: 0px!important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49)!important;
    -webkit-appearance: none;
}
.login .card{
	box-shadow: 2px 2px 17px rgba(41, 40, 40, 0.39)!important;
	border-radius: 0px!important;
   
}
.login .card .card-body{
	 padding: 2.5vw!important;

}
.login .card-header{ 
    text-align: center;
    font-size: 20px;
    text-transform: uppercase
}
.login .btn{
	    width: 100%;
    height: 35px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}
